<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>793184218248-f1rqdn1tl6t20bj9ol8t02v5uhnkbjbh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.793184218248-f1rqdn1tl6t20bj9ol8t02v5uhnkbjbh</string>
	<key>API_KEY</key>
	<string>AIzaSyA7epfNMr-P4s88bt4_iKb0eYiikV1Zb5U</string>
	<key>GCM_SENDER_ID</key>
	<string>793184218248</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.PandaKid</string>
	<key>PROJECT_ID</key>
	<string>pandakid-606e3</string>
	<key>STORAGE_BUCKET</key>
	<string>pandakid-606e3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:793184218248:ios:9e67f583f6204f2894433d</string>
</dict>
</plist>